*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  background: rgb(243, 241, 238);
}

body{
  display:flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  text-align: center;
  min-height: 100vh;
}

/*----------NAVBAR SETUP----------*/
.navbar{
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(14, 49, 85);
  width: stretch;
  padding: 10px;
}

.logo{
  background-color: rgb(255, 126, 33);
  padding: 5px;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  position: relative;
}

.navbarItems{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 40px;
  background: 10px;
  background-color: rgb(77, 77, 77);
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);


}

.navbarItem{
  display: flex;
  justify-content: center;
  text-decoration-line: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(243, 241, 238);
  width: 100px;
  border-radius: 8px;
  padding: 4px;
  transition: color 0.2s, text-decoration-color 0.4s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.navbarItem:hover{
  color: rgb(255, 108, 23);
}

/*----------HERO SETUP----------*/
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  width: stretch;
  background-color: rgb(205, 226, 234);
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  padding-top: 75px;
  padding-bottom: 30px;
  font-weight:800;
}

.greeting{
  padding-bottom: 30px;
}

.PictureOfMe{
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  border: 0 solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

/*----------PROJECT CARDS SETUP----------*/
.projectsContainer{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.projectsTitle{
  padding-top: 40px;
  font-size: 30px;
  font-weight: 800;
}

.projectCards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectCard{
  display: flex;
  width: 300px;
  height: 400px;
  margin: 15px;
  border-radius: 10px;
  border: solid 0 gray;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
}

.projectCard:hover{
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.18);
}

.projectImages{
  width: 300px;
  height: 200px;
}

.projectCardTitles{
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 800;
}

.cardDescriptions{
  padding: 15px;
}

/*----------FOOTER SETUP----------*/
footer{
  background-color: rgb(14, 49, 85);
  padding: 15px 0px;
}

footer p{
  color: white;
}

.githubPicture{
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

/*----------MEDIA STYLES----------*/
@media (max-width: 660px) {
  .navbarItems{
    justify-content: space-around;
    gap: 20px;
  }
}

@media (max-width: 596px) {
  .navbarItems{
    justify-content: space-around;
    gap: 20px;
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .navbarItems{
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
  }
}